{% extends "base.html" %}

{% block title %}
Lightmatter Base Install
{% endblock title %}


{% block content %}
  <section class="section" >
  <h1 class="title">{{ anime.name }}</h1>
  <p class="content">{{ anime.description }}</p>

  <p hx-get="{% url "redirect_test" anime_id=anime.id %}"  hx-swap="outerHTML" hx-indicator=".htmx-indicator" hx-push-url="false"   > redirect test -  {{ anime.name }}</p>
  {% if form %}
    {% include "home/partials/user_rating_form.html" with form=form anime=anime %}
    <center>
      <img class="htmx-indicator" src="{% static "img/bars.svg" %}"/>
    </center>
  {% endif %}
  </section>
{% endblock content %}
