{% extends "base.html" %}

{% block title %}
Lightmatter Base Install
{% endblock title %}


{% block content %}
  <table class="table container" style="width:100%;" >
    <thead>
      <tr>
        {% for sort_key, title in table_headers.items %}
          <th><a href="?sort={% if request.GET.sort == sort_key %}-{% endif %}{{sort_key}}" hx-indicator="#loading-body" >{{title}}</th>
        {% endfor %}
      </tr>
    </thead>
  <tbody class="anime-body">
    {% include "home/partials/anime_table.html" with animes=animes %}
  </tbody>
  <tbody class="loading-body htmx-indicator"></tbody>
  </table>
{% endblock content %}
