<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
      .messages {
        position: fixed;
        left: 40px;
        bottom: 40px;
      }
    </style>
    {% block extra_head %}
    <title>Lightmatter</title>
    {% endblock extra_head %}
    {% load django_htmx %}
    {% django_htmx_script %}
  </head>
  <body hx-boost="true">
      <div class="{% block body_class %}{% endblock body_class %}">
      {% include "header.html" %}

      <div id="main">
          {% block content %}
          {% endblock content %}
      </div>
      {% include "messages.html" %}
      {% include "footer.html" %}
      </div>
  </body>
</html>
